PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/root_to_remedy
JWT_SECRET=super_secret_botanical_key_2026
FABRIC_MODE=mock

# IPFS Configuration: 'kubo' (local node) or 'pinata' (cloud)
IPFS_MODE=kubo
LOCAL_KUBO_URL=http://127.0.0.1:5001

# Pinata Cloud (Optional)
PINATA_API_KEY=
PINATA_SECRET_KEY=
PINATA_JWT=
